* {
    box-sizing: border-box;
}

body {
    background-color: rgb(210, 152, 236);
    overflow-x: hidden;
}

.nav-list{
    /* border: solid 10px red;   for debugging remove later*/ 
    display: flex;
    width: 100%;
    margin: 0;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}

 .nav-item { 
    list-style: none;
    margin-right: 2rem;
} 

button {
    font-weight: 900;
    color: #fff;
    border-radius: 25px;
    height: 50px;
    width: 170px;
    background-color: transparent;
    border-color: #fff;
    border-style: double;
   
}
button:hover {
    background-color: black;
  
}

.nav-item:last-child {
    margin-left: auto; /* Pushes SIGN UP button to the right */
    margin-right: -5rem;
}


.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

a:hover {
    color: black;
}







h1 {
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10rem;
    font-size:5rem ;
}

p {
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    font-size: 1.3rem;
}

.wrapper-text {
   
    width: 100rem;
    margin: 0 auto;
    margin-left: 6rem;
    /* max-inline-size: 1000px;
    margin-inline: auto; Saving this for later. This code centers all content into the middle*/
}